body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background: url("../images/cart-bg.jpg") no-repeat center center fixed;
    background-size: cover;

    font-family: Arial, sans-serif;
}
