/* PAGE BACKGROUND */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;

    background: url("../images/payment-bg.jpg") no-repeat center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* PAYMENT CARD */
.payment-box {
    width: 420px;
    padding: 35px;

    background: #f5efe6;
    backdrop-filter: blur(6px);

    border-radius: 18px;
    box-shadow: 0 30px 80px rgba(0,0,0,0.25);

    text-align: center;
    animation: fadeIn 0.8s ease;
}

/* HEADING */
.payment-box h2 {
    margin-bottom: 25px;
    color: #2d2d2d;
}

/* RADIO OPTIONS */
.payment-box label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
}

/* PLACE ORDER BUTTON */
.place-btn {
    width: 100%;
    padding: 14px;

    background: linear-gradient(45deg, #2e7d32, #66bb6a);
    color: #f5f0e6;

    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

    box-shadow: 0 12px 30px rgba(46,125,50,0.4);
    transition: all 0.3s ease;
}

.place-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 18px 40px rgba(46,125,50,0.6);
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
