@charset "UTF-8";
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f8f8;
}

.navbar {
  background: #ff6f61;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

.title {
  text-align: center;
  margin: 30px 0;
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
}

.card p {
  padding: 0 10px 10px;
  color: gray;
}
.btn {
    display: inline-block;
    padding: 8px 14px;
    background: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: #e63939;
}
